---
import Layout from '../components/Layout.astro';
---

<Layout title="About Us - Gique">
  <h1>About Us</h1>
    <p>Gique is a Boston-based nonprofit 501(c)(3) organization which exists to inspire and educate youth in STEAM.</p>
</Layout>
