---
import Layout from '../components/Layout.astro';
---

<Layout title="After-School Programs - Gique">
  <h1>After-School Programs</h1>
    <p>Engaging STEAM programs for youth after school.</p>
</Layout>
