---
import Layout from '../components/Layout.astro';
---

<Layout title="Art & Science of Beer - Gique">
  <h1>Art & Science of Beer</h1>
    <p>Exploring the science and artistry of brewing.</p>
</Layout>
