---
import Layout from '../components/Layout.astro';

---

<Layout title="Art & Science of Beer - Gique">
  <article class="prose prose-lg max-w-none">
    <h1>Art & Science of Beer</h1>
    <p>Information about our Art & Science of Beer program coming soon.</p>
  </article>
</Layout>
