---
import Layout from '../components/Layout.astro';
---

<Layout title="Contact Us - Gique">
  <h1>Contact Us</h1>
    <p>Get in touch: <a href="mailto:hello@gique.me">hello@gique.me</a></p>
</Layout>
