---
import Layout from '../components/Layout.astro';

---

<Layout title="Fab Festival - Gique">
  <article class="prose prose-lg max-w-none">
    <h1>Fab Festival</h1>
    <p>Information about our Fab Festival program coming soon.</p>
  </article>
</Layout>
