---
import Layout from '../components/Layout.astro';

---

<Layout title="Science Can Dance! - Gique">
  <article class="prose prose-lg max-w-none">
    <h1>Science Can Dance!</h1>
    <p>Information about our Science Can Dance! program coming soon.</p>
  </article>
</Layout>
