---
// Science Can Dance! program page
const title = "Science Can Dance! - Gique";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <h1>Science Can Dance!</h1>
    <p>Integrating science and dance education.</p>
  </body>
</html>
