---
import Layout from '../components/Layout.astro';
---

<Layout title="Social Media - Gique">
  <h1>Social Media</h1>
    <p>Connect with us on social media.</p>
    <ul>
      <li><a href="https://www.youtube.com/channel/UCnQl7V3xOJb71mIA7vv68_Q">YouTube</a></li>
      <li><a href="https://twitter.com/giqueme">Twitter</a></li>
      <li><a href="http://www.facebook.com/giqueme">Facebook</a></li>
      <li><a href="http://instagram.com/giqueme">Instagram</a></li>
    </ul>
</Layout>
