---
import Layout from '../components/Layout.astro';
import { getEntry } from 'astro:content';

const page = await getEntry('pages', 'steam-resources');
const { Content } = await page.render();
---

<Layout title="STEAM Resources - Gique">
  <div class="max-w-4xl mx-auto">
    <article class="prose prose-lg max-w-none">
      <Content />
    </article>
  </div>
</Layout>
